.App {
    /* background: #ffffff; */
    float:left;
    padding: 0;
    margin: 0 auto;
    }
    
    .Pok {
      width: 200px;
      height: 400px;
      margin: 10px;
    }
    
    .Img {
      width: 180px;
      height: 250px;
      margin-right: 0px;
      padding: 0px;
      background: rgb(197, 66, 66);
    }
    
    .Img img{
      
      width: 180px;
      height: 250px;
    }

    p {
      font-size: 14px;
      padding: 0;
      margin: 5px 0;
      text-align: center;
    }
    
    hr {
      width: 20px;
      border: 1px solid #fffc4c;;
    }
    
    .Button button {
      
      display: inline-block;
      color: rgb(248, 248, 248); 
      text-decoration: none; 
      user-select: none; 
      background: rgb(0, 0, 0); 
      width: 100%;
      padding: 15px 0;
      outline: none; 
      text-align: center;
      
    } 
    .Button:hover { background: rgb(73, 51, 51); } 
    .Button:active { background: rgb(24, 6, 4); }

